.Background {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.Menu_bar {
padding: 5ex 20ex;
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 40px;
  top: -432px;
  left: -585px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.menu {
  display: flex;
  justify-content: space-around;
  gap: 0px;
  width: 533px;
  height: 17px;
  top: -421px;
  left: 52px;
  opacity: 0px;
}
.home_meta {
  padding: 5ex 20ex;
  pad
  width: 522px;
  height: 374px;
  top: -308px;
  left: -587px;
  gap: 0px;
  border-radius: 50px 0px 0px 0px;
  opacity: 0px;
}
.title {
  width: 522px;
  height: 222px;
  top: -308px;
  left: -587px;
  gap: 0px;
  opacity: 0px;
}
.subtitle {
  width: 466px;
  height: 48px;
  top: -69px;
  left: -587px;
  gap: 0px;
  opacity: 0px;
  color: #888;
}
